* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
  }
  .users-details-style{
    position: relative;
    min-height: 100vh;
    background: url('../../images/2aa78a2c8fbe91b37bfed0fbb32fae82.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10px; /* Add this line */
  }