.emp-style{
    margin-top: 6rem;
    padding: 3rem;
    width: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(16px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.employee {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 2rem;
}

.department,
.email,
.phone,
.doj {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.edit-button {
  background-color: #ffc107;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.emp-profile{
    background-image: url('../../images/80043_03_uh-so-the-default-windows-11-wallpapers-are-amazing_full.jpg');
    background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.name{
    color:#047c82;
    font-weight: 500;
    text-transform: capitalize;
}
.inputbox{
    color: black;
    width: 100%;
}
.modal.transparent-backdrop .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  

.edit-form{
    width: 500px;
  height: 650px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  
}

.modal{
    /* background-color: #8B8E8A; */
    background-image: url('../../images/80043_03_uh-so-the-default-windows-11-wallpapers-are-amazing_full.jpg');
    background-size: cover;
    border: none;
    box-shadow: none;
}
/* .block {
	position: relative;
	margin: 300px auto 0;
	width: 500px;
	height: 600px;
	background: linear-gradient(0deg, #000, #272727);
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
} */